

.rand1{
    background-color: red;
    margin: 6px;
    padding: 6px;
    border: 2px;
    font-size: 36;
}
.rand2{
    background-color: greenyellow;
    margin: 6px;
    padding: 6px;
    border: 2px;
    font-size: 36;
}
.rand3{
    background-color: blue;
    margin: 6px;
    padding: 6px;
    border: 2px;
    font-size: 36;
}